figcaption {
	text-align: center;
	letter-spacing: .2rem;
}

.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.champion-card {
	cursor: pointer;
	margin-left: 3rem;
	margin-right: 3rem;
}

.champion-card:hover {
	opacity: 0.5;
}