figcaption {
	text-align: center;
	letter-spacing: .2rem;
}

.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.champion-card {
	cursor: pointer;
	margin-left: 3rem;
	margin-right: 3rem;
	border-radius: 1%;
}

.champion-card:hover {
	opacity: 0.5;
}

.champion-card a img {
	border-radius: 2%;
	width: 500px;
}


@media only screen and (max-width: 1250px) {
	.champion-card a img {
		border-radius: 2%;
		width: 100%;
	}
}