.title {
	background-color: rgba(2, 13, 31, .94);
	text-align: center;
	color: #efefef;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.component-container {
	background-color: rgba(33, 44, 61, 1);
	height: 100%;
	color: white;
}

.footer {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2rem;
	padding-top: 1rem;
}

.footer p {
	text-align: center;
	font-size: .7em;
	font-family: sans-serif;
	margin-bottom: 0;
}

a {
	text-decoration: none;
}