
<div *ngIf="champion" class="champion-splash-art">
	<figure>
		<img src="{{ selected_skin.url }}" >
		<figcaption *ngIf="selected_skin.name === 'default'; else elseBlock">{{ champion.name }}</figcaption>
		<ng-template #elseBlock>
			<figcaption>{{ selected_skin.name }}</figcaption>
		</ng-template>
	</figure>
</div>

<div class="button-wrapper">
	<button *ngFor="let skin of splash_art; index as i" (click)="changeSkin(i)" class="skin-button"></button>
</div>

<div *ngIf="champion" class="spells-container">
	<hr>
	<h3 class="spells-title">Spells</h3>
	<div class="spells-wrapper">
		<section class="spell" id="passive">
			<figure class="spell-info">
				<span class="spell-info-text">{{ champion.passive.description }}</span>
				<img src="{{ spells_art[0] }}">
				<figcaption class="spell-name">{{ champion.passive.name }}</figcaption>
			</figure>
		</section>

		<section class="spell" id="spellQ">
			<figure class="spell-info">
				<span class="spell-info-text">{{ champion.spells[0].description }}</span>
				<img src="{{ spells_art[1] }}">
				<figcaption class="spell-name">{{ champion.spells[0].name }} [Q]</figcaption>
			</figure>
		</section>

		<section class="spell" id="spellW">
			<figure class="spell-info">
				<span class="spell-info-text">{{ champion.spells[1].description }}</span>
				<img src="{{ spells_art[2] }}">
				<figcaption class="spell-name">{{ champion.spells[1].name }} [W]</figcaption>
			</figure>
		</section>

		<section class="spell" id="spellE">
			<figure class="spell-info">
				<span class="spell-info-text">{{ champion.spells[2].description }}</span>
				<img src="{{ spells_art[3] }}">
				<figcaption class="spell-name">{{ champion.spells[2].name }} [E]</figcaption>
			</figure>
		</section>

		<section class="spell" id="spellR">
			<figure class="spell-info">
				<span class="spell-info-text">{{ champion.spells[3].description }}</span>
				<img src="{{ spells_art[4] }}">
				<figcaption class="spell-name">{{ champion.spells[3].name }} [R]</figcaption>
			</figure>
		</section>
	</div>
</div>

<div *ngIf="champion" class="stats-container">
	<hr>
	<h3 class="stats-title">Stats lvl 1</h3>
	<div class="stats-wrapper">
		<section class="group-stats">
			<section>
				<p>Health Points: <strong>{{ champion.stats.hp }}</strong></p>
				<p>Health Points per lvl: <strong>{{ champion.stats.hpperlevel }}</strong></p>
				<hr>
				<p>Health Regen: <strong>{{ champion.stats.hpregen }}</strong></p>
				<p>Health Regen per lvl: <strong>{{ champion.stats.hpregenperlevel }}</strong></p>
			</section>
			<section>
				<p>Mana Points: <strong>{{ champion.stats.mp }}</strong></p>
				<p>Mana Points per lvl: <strong>{{ champion.stats.mpperlevel }}</strong></p>
				<hr>
				<p>Mana Regen: <strong>{{ champion.stats.mpregen }}</strong></p>
				<p>Mana Regen per lvl: <strong>{{ champion.stats.mpregenperlevel }}</strong></p>
			</section>
		</section>
		<section class="group-stats">
			<section>
				<p>Armour: <strong>{{ champion.stats.armor }}</strong></p>
				<p>Armour per lvl: <strong>{{ champion.stats.armorperlevel }}</strong></p>
				<hr>
				<p>Magic Resist: <strong>{{ champion.stats.spellblock }}</strong></p>
				<p>Magic Resist per lvl: <strong>{{ champion.stats.spellblockperlevel }}</strong></p>
			</section>
			<section>
				<p>Attack Damage: <strong>{{ champion.stats.attackdamage }}</strong></p>
				<p>Attack Damage per lvl: <strong>{{ champion.stats.attackdamageperlevel }}</strong></p>
				<hr>
				<p>Attack Speed: <strong>{{ champion.stats.attackspeed }}</strong></p>
				<p>Attack Speed per lvl: <strong>{{ champion.stats.attackspeedperlevel }}</strong></p>
			</section>
		</section>
		<section class="group-stats">
			<section>
				<p>Crit: <strong>{{ champion.stats.crit }}</strong></p>
				<p>Crit per lvl: <strong>{{ champion.stats.critperlevel }}</strong></p>
				<hr>
				<p>Attack Range: <strong>{{ champion.stats.attackrange }}</strong></p>
				<p>Movement Speed: <strong>{{ champion.stats.movespeed }}</strong></p>
			</section>
		</section>
	</div>
</div>